<div>
    <p></p>
    <form novalidate ng-submit="loadProducts()">
        <div class="form-floating input-group-sn">
            <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.title_part">
            <label for="filterTitle">Наименование товара</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sn">
            <input type="number" class="form-control" id="filterMinPrice" placeholder="" ng-model="filter.min_price">
            <label for="filterMinPrice">Мин. цена</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sn">
            <input type="number" class="form-control" id="filterMaxPrice" placeholder="" ng-model="filter.max_price">
            <label for="filterMaxPrice">Макс. цена</label>
        </div>
        <p></p>
        <button class="btn btn-outline-warning btn-sn" style="width: 100%;" type="submit">Применить сортировку</button>
    </form>
    <h3>Каталог товаров</h3>

    <p></p>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Наименование товара</td>
            <td>Цена</td>
            <td>Действие</td>
            <td>Действие для админа</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in productsPage.content">
            <td >{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-primary" ng-click="addToCart(p.id)">Добавить в корзину</button>
            </td>
            <!--            <td>-->
            <!--                <button sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-danger" ng-click="deleteProduct(p.id)" >Удалить</button>-->
            <!--            </td>-->
        </tr>
        </tbody>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" ng-click="loadProducts(1)" >1</a></li>
                <li class="page-item"><a class="page-link" ng-click="loadProducts(2)" >2</a></li>
            </ul>
        </nav>
    </table>
    <p></p>
</div>